#unwrapAmount {
  text-align: center;
  border: none;
  font-size: 65px;
  width: 90%;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  margin-bottom: 20px;
}

.unwrapButton {
  margin-top: 20px;
  margin-bottom: 20px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}