body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  /* text-align: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input {
  text-align: center;
}

input:focus {
  outline: none;
}

#unwrap-form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#unwrap-amount-input:focus::placeholder {
  color: transparent;
}

#unwrap-amount-input:hover::placeholder {
  color: #eb6c6c;
}

#unwrap-amount-input:hover:focus::placeholder {
  color: transparent;
}

#unwrap-amount-input {
  height: 10vw;
  width: 100%;
  font-size: calc(6vw + 10px);
  caret-color: black;
  font-weight: bold;
  color: #eb6c6c;
  border-width: 0;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 5vh; */
  margin-bottom: calc(5vw + 10px);
}

#unwrap-amount-input::placeholder {
  position: relative;
  font-size: calc(6vw + 10px);
}

#unwrap-address-input:focus::placeholder {
  color: transparent;
}

#unwrap-address-input {
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.App {
  height: 70vh;
  width: 60vw;
  margin-top: 10vw;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dropdown-button {
  border-width: 0;
  background-color: white;
  color: black;
  font-weight: normal;
  font-size: 12px;
  margin-bottom: calc(3vw + 10px);
}

.logo {
  color: #eb6c6c;
}


button:hover {
  cursor: pointer;
}

button:not(.w3a-header__button, .w3ajs-close-btn, .dropdown-button){
  border-width: 0;
  background-color: #eb6c6c;
  height: 40px;
  width: 120px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-radius: 6px;
  margin-bottom: calc(2vw + 10px);
}

button:not(.w3a-header__button, .w3ajs-close-btn, .dropdown-button):hover {
  background-color: #eb9898;
}

.w3a-header__title, .w3a-header__subtitle {
  width: 100%
}

#logged-in-logo {
  display: inline-block;
  position: relative;
  height: 100%;
}

#unwrap-tool-title-text {
  display: inline-block;
  position: relative;
  /* bottom: 30px; */
  height: 100%;
  bottom: calc(5vw);
  /* height: 100%; */
  /* vertical-align: middle; */
  text-align: center;
  font-size: 3vw;
}

#title {
  font-size: 100%;
}

#unwrap-tool-title {
  height: 15vw;
  /* margin-bottom: 5vw; */
  margin-bottom: calc(3vw + 10px);
}

#address {
  margin-bottom: calc(3vw + 10px);
}

.w3a-modal__inner, .w3a-modal__inner--active {
  background-color: gainsboro;
  color: black;
}
