* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.navbar {
  background-color: white;
  padding-top: 2vh;
  display: flex;
  position: sticky;
  top: 0px;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  font-size: 18px;
}



.navbar .app-links {
  margin-left: auto;
  padding-right: 30px;
}

.navbar a {
  margin-left: 24px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #eb6c6c;
}

.navbar .profileImg {
  max-inline-size: 30px;
  background-color: #333;
}

.navbar .profileImg:hover {
  max-inline-size: 30px;
  background-color: #eb6c6c;
}

.navbar .logo {
  position: relative;
  bottom: 1px;
  max-inline-size: 120px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


.magicUI .button {
  background-color: #eb6c6c;
  color: white;

}

.walletDetails {
  font-family: Arial, Helvetica, sans-serif;
}