body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: rgb(236, 232, 232);
}

.pageTemplate {
  text-align: center;
  margin: 3%;
  padding: 2%;
  background-color: whitesmoke;
  border-radius: 20px;
}

.button1 {
  background-color: rgb(214, 214, 214);
  border: none;
  height: 50px;
  width: 200px;
  color: rgb(61, 61, 61);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.button1:hover {
  transform: scale(1.05);
  background-color: rgb(184, 184, 184);
}

.button2 {
  background-color: #eb6c6c;
  border: none;
  height: 50px;
  width: 200px;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.button2:hover {
  transform: scale(1.05);
  background-color: #ca6161;
}

.disabledButton {
  background-color: #eb6c6c8f;
  border: none;
  height: 50px;
  width: 200px;
  color: whitesmoke;
  font-weight: bold;
  border-radius: 10px;
}

#webpack-dev-server-client-overlay {
  display: none;
}


